html {
  box-sizing: border-box;
  font: normal 100%/1.3 "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --hue-neutral: 120;
  --hue-wrong: 0;
  --hue-correct: 145;
}
.header {
  width: 100vw;
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-around;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
img{
max-height: 20rem;
margin-top: 1rem;
}
.subheader {
  position: absolute;
  margin-top: -20rem;
}

h1 {
  color: #fff;
  opacity: 0;
  animation: headerComeIn 2s .3s forwards;
}

h3 {
  color: #fff;
  background-color: black;
  border: 5px solid grey;
  padding: 1rem 2rem;
  text-align: center;
  max-width: 15rem;
  border-radius: 10px;
}

#charan{
  transform: translateX(-100%);
  animation: charanSlide 1s .2s linear forwards;
}

#nasra{
  transform: translateX(100%);
  animation: nasraSlide 1s .2s linear forwards;
}


#taylor{
  transform: translateY(-100%);
  animation: taylorSlide 1s .2s linear forwards;
}
#tibet{
  transform: translateY(-100%);
  animation: taylorSlide 1s .2s linear forwards;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body .correct {
  --hue: var(var(--hue-correct));
}

body .wrong {
  --hue: var((var(--hue-wrong)));
}

.container {
  width: 45rem;
  max-width: 80%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: hsl(var(--hue-neutral), 100%, 30%);
  background-color: hsl(var(--hue-neutral), 100%, 40%);
  border-radius: 5px;
  padding: 15px 10px;
  color: white;
  outline: none;
  transition: transform 0.2s ease-in;
}

.btn:hover {
  border-color: black;
  transform: translateY(-10%);
}

.btn-correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn-wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

@keyframes headerComeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes charanSlide{
  form{
transform: translateX(-100%);
  }
  to{
transform: translateX(0%);
  }
}

@keyframes nasraSlide{
  form{
transform: translateX(100%);
  }
  to{
transform: translateX(0%);
  }
}


@keyframes taylorSlide {
  form{
    transform: translateY(-100%);
      }
      to{
    transform: translateY(0%);
      }
}
